/*医生助手公用部分*/
body{font-family: 微软雅黑, "Microsoft YaHei", 宋体}
.f_blue{color: #0066ff;}
.fl_l{float: left;}
.fl_r{float: right;}
.float_box {position: fixed; _position: absolute; left: 50%;z-index: 99999;}
.ans_box{position: fixed; _position: absolute; left: 50%; width: 800px; border: 2px solid #088ec9; background-color: #fff; z-index: 99; display: none;}
.ans_box .close{cursor: pointer; width: 20px; height: 20px; position: absolute; right: 5px; top: 5px; background: url("../images/cross.png") no-repeat 2px 2px;}
.fl_txt{width: 600px;}
.fl_txt h3{border-bottom: 1px solid #088ec9; padding: 5px 10px; margin: 5px 0;}
.fl_txt p{padding: 0 10px; line-height: 22px;}
.fl_pic{width: auto; left: auto;}
.fl_pic h3{border-bottom: 1px solid #088ec9; padding: 5px 10px; margin: 5px 0;}
.fl_fs{width: 600px;}
.fl_fs h3{border-bottom: 1px solid #088ec9; padding: 5px 10px; margin: 5px 0;}
.fl_fs .num{text-align: center;}
.fl_fs .num .tel{display: block; width: 70%; margin: 0 15%;}
.fl_fs .num .sub_btn{margin: 10px; padding: 5px 20px; border: none; background-color: #3a6ea5; color: #fff;}
.float_bg{width: 100%; height: 100%; background-color: #000;position:fixed;_position: absolute; left: 0; top: 0; opacity: 0.5;}
.refund,.ignore{cursor: pointer;}
/*医生助手*/
.panel .panel_zt{line-height: 28px; margin-right: 25px;}
.doc_info{border-bottom: 1px dotted #666; overflow: hidden;}
.doc_info span{display: inline-block; float: left; padding: 8px 10px;}
.doc_info .name{font-weight: bold; font-size: 20px; line-height: 22px;}
.doc_info .dw{line-height: 18px;}
.doc_info .ks{}
.refund_box{border-bottom: 1px dotted #666; padding: 10px; overflow: hidden;}
.refund_box .refund_t{border-bottom: 1px solid #088ec9;}
.refund_box .refund_t span{border: 1px solid #088ec9; border-bottom: none; background-color: #fff; display: inline-block; margin-right: 10px; padding: 3px 10px; color: #088ec9; cursor: pointer;}
.refund_box .refund_t .active{background-color: #088ec9; color: #fff;}
.refund_c{padding: 10px 5px;overflow: hidden;}
.refund_c .t{font-weight: bold; padding-top: 5px; display: inline-block;}
.refund_c .txt{width: 710px; float: right;}
.refund_c .sub_btn{display: block; float: right; clear: both; background-color: #088ec9; border: none; color: #fff; padding: 3px 15px; margin: 10px 5px 0 0;}
.log .t{border-bottom: 1px solid #999; padding: 5px 10px; font-weight: bold; margin-bottom: 0px;}
.log ul{margin: 15px 10px 15px 15px; padding: 0 1px 0 0; height: 200px; overflow: auto;}
.log ul li{line-height: 22px;}
.log ul .qus{color: #009999; padding-bottom: 5px;}
.log ul .ans{}
.help_tit{padding: 10px; font-weight: bold; border-bottom: 1px solid #088ec9; font-size: 14px; background-color: #3a6ea5; color: #fff;}
.news_t{border-bottom: 1px solid #088ec9; margin-top: 15px;}
.news_t span{border: 1px solid #088ec9; border-bottom: none; background-color: #fff; display: inline-block; margin-right: 10px; padding: 3px 10px; color: #088ec9; cursor: pointer;}
.news_t .active{background-color: #088ec9; color: #fff;}
.send_to{padding: 10px;}
.send_to strong, .send_to input{margin-right: 10px;}
.sel_box .ts { color:red;}
.panel .xz{display: inline-block;}
.panel .xz input{float: left; display: inline; margin: 3px 5px 0 0;}
.new_box{padding: 5px 20px 10px 20px;}
.new_box .np_t span{border: 1px solid #088ec9; background-color: #fff; display: inline-block; margin-right: 10px; padding: 3px 10px; color: #088ec9; cursor: pointer;}
.new_box .np_t .ts{float: right;}
.new_box .np_t .ts input{float: left; display: inline; margin: 3px 5px 0 0;}
.new_box .np_t .active{background-color: #088ec9; color: #fff;}
.new_box .np_c{border: 1px solid #088ec9; margin-top: 10px;}
.new_box .np_c .to_pic{width: 100%; margin: 0 auto; padding: 100px 0; display: block; color: #088ec9; font-size: 16px; text-align: center;}
.new_box .np_c .xm_box{display: inline-block; padding: 10px; margin: 20px; border: 1px solid #ddd; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.new_box .np_c .xm_box h2{margin: 0;}
.new_box .np_c .xm_box strong{display: block; padding: 5px 0;}
.new_box .np_c .xm_box img{width: 380px;}
.new_box .np_c .xm_box p{}
.tw_box{ overflow: hidden;}
.tw_box .tw_l_box{width: 25%;}
.tw_box .tw_r_box{width: 75%;}
.tw_l_box .tit_box{width: 88%; margin: 20px 4%; padding: 2%; border: 1px solid #ddd; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.tw_l_box .tit_box h1{font-size: 18px; padding: 5px 0 10px 10px; margin: 0;}
.tw_l_box .tit_box p{margin: 0;}
.tw_l_box .tit_box p img{width: 100%;}
.tw_l_box .tit_box .nowTime {margin:0;padding: 0 10px 10px 10px; font-size: 14px;}
.tw_r_box .tw_con{margin: 20px 4%; padding: 10px 2%; border: 1px solid #ddd; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.tw_r_box .tw_con dl{padding: 10px 0; margin: 0;}
.tw_r_box .tw_con dt{padding-bottom: 10px; font-size: 14px; display: block;}
.tw_r_box .tw_con dd{margin: 0;}
.tw_r_box .tw_con dd .ts{padding:0 0 0 20px;margin:5px 0 0 0; color:red;}
.tw_r_box .tw_con dd .act_link input{border:1px solid #ddd;width:96%;padding:10px 2%;}
.t_box{padding: 10px 0 10px 2%; line-height: 22px; border: 1px solid #ddd; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
.t_box .tc{width: 90%; border: none;}
.t_box .ac{width: 96%; padding: 10px 2%; margin: 0; border: 1px solid #ddd;}
.t_box .cz{display: none;}
.t_box .tj{float: right; display: inline; margin-right: 10px;}
.submit_box{padding: 10px 20px; text-align: center; clear: both;}
.submit_box input{margin: 0 10px; padding: 5px 20px; border: none; background-color: #3a6ea5; color: #fff;}
.submit_box .fs{background-color: #eb6877;}
.upload_box{padding: 20px 30px;}
.upload_box p{line-height: 32px}
.upload_box .btn{position: relative; overflow: hidden; margin-right: 4px; display: inline-block; *display: inline; padding: 4px 10px 4px; font-size: 14px; line-height: 18px; *line-height: 20px; color: #fff; text-align: center; vertical-align: middle; cursor: pointer; background-color: #3a6ea5; border: 1px solid #cccccc; border-color: #e6e6e6 #e6e6e6 #bfbfbf; border-bottom-color: #b3b3b3; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.btn input{position: absolute; top: 0; right: 0; margin: 0; border: solid transparent; opacity: 0; filter: alpha(opacity=0); cursor: pointer;}
.upload_box .progress{position: relative; margin-left: 100px; margin-top: -24px; width: 200px; padding: 1px; border-radius: 3px; display: none}
.upload_box .bar{background-color: #3a6ea5; display: block; width: 0%; height: 20px; border-radius: 3px;}
.upload_box .percent{position: absolute; height: 20px; display: inline-block; top: 3px; left: 2%; color: #fff}
.upload_box .files{line-height: 22px; margin: 10px 0}
.upload_box .delimg{margin-left: 20px; color: #3a6ea5; cursor: pointer}
.upload_box .showimg img{height: 250px;}
.send_log{line-height: 28px;}
.send_log .disc {cursor:pointer;}
.bg_dis { background-color: #eee; color:#999;}